@keyframes moveFade {
    0%, 100% {
        transform: translateY(0);
        opacity: 0;
    }
    20% {
        transform: translateY(-20px);
        opacity: 1;
    }
    80% {
        transform: translateY(-10px);
        opacity: 1;
    }
}

.animate-moveFade {
    animation: moveFade 4s ease-in-out infinite;
}

#Home {
    background-color: #000;
}

#Home h1 {
    font-size: 3rem;
    color: #fff;
}

#Home h2 {
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.8;
    margin-top: 10px;
}
/* Default styles for larger screens */
.text-4xl {
    font-size: 2rem; /* 32px */
}

.text-lg {
    font-size: 1.125rem; /* 18px */
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .text-4xl {
        font-size: 1.5rem; /* 24px */
    }

    .text-lg {
        font-size: 1rem; /* 16px */
    }
}
